.row {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'Acme', sans-serif;
  padding-top: 130px;
}

.navbar {
  background: black;
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.navbar img {
  padding-left: 50px;
  position: relative;
}

.navbar .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 50px;
  padding-top: 15px;
  background: black;
  z-index: 9999;
  position: relative;
}

.navbar .navbar-nav li {
  text-align: center;
  padding-left: 40px;
  list-style-type: none;
  position: relative;
}

.navbar .navbar-nav li a {
  border: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 1.3em;
  background: linear-gradient(10deg, #940b0b, black);
  border: 2px solid black;
  border-radius: 10px 10px;
  width: 150px;
}

.navbar .navbar-nav li a:hover {
  background: #940b0b;
}

header {
  background: black;
  padding: 20px 0px 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: auto;
}

header .jumbotron {
  color: white;
  background: url("http://img.archiexpo.fr/images_ae/photo-g/49730-7667429.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  padding: 0;
  width: 100%;
  padding: 30px 30px;
}

header .jumbotron p {
  text-align: center;
}

header .jumbotron h1 {
  padding-top: 30px;
  padding-bottom: 30px;
  text-shadow: 2px 5px 8px black;
}

header .jumbotron .thumbnail {
  border: 1px solid white;
  color: white;
  margin: 0;
  padding: 0;
}

.annonce {
  background: black;
  color: white;
  padding: 0;
  margin: 0 !important;
  overflow: hidden;
  position: relative;
}

.annonce .thumbnail {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0px 40px 2px;
}

.annonce .caption {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 20px 30px 20px;
}

.division {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row nowrap;
          flex-direction: row nowrap;
  margin: 0;
}

.slider {
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
}

footer {
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 20px;
  margin: 0;
  width: 100%;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
}

footer ul li {
  list-style-type: none;
  text-decoration: none;
  color: white;
  padding-left: 65px;
}

footer ul li:nth-last-child(1) {
  padding-right: 95px;
}

footer ul li a {
  color: white;
  font-size: 4em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer ul li a:hover {
  color: #940b0b;
}

.mention {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mention p {
  padding-left: 25px;
  color: white;
}

.mention a {
  text-decoration: none;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.mention a:hover {
  color: #940b0b;
}

/*resto*/
.resto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row wrap;
          flex-direction: row wrap;
  background: black;
  color: white;
  padding: 40px 20px;
}

.resto img {
  display: block;
  width: auto;
  height: auto;
}

.text-resto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 35px;
  line-height: 110%;
}

.icon {
  color: white;
  font-size: 1.2em;
}

/* MeNu*/
.card-global {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: black;
  padding: 40px 0px 40px 0px;
  position: relative;
  overflow: hidden;
}

.card-global .card-body {
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #fff;
  width: 100%;
  margin: 0;
  padding: 0px;
  height: 75px;
  top: 22px;
  z-index: 1;
}

.card-global .card-body h5 {
  padding-left: 10px;
  padding-top: 10px;
}

.card-global .card-body p {
  opacity: 0;
  background: #fff;
  padding: 0 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.card-global:hover .card-img-top {
  -webkit-filter: opacity(50%);
          filter: opacity(50%);
}

.card-global:hover .card-body {
  -webkit-transform: translateY(-125px);
          transform: translateY(-125px);
}

.card-global:hover .card-body p {
  opacity: 1;
}

.btn-danger {
  overflow: hidden;
  position: relative;
  z-index: 999;
}

section {
  background: black;
  padding: 40px 20px;
  margin: 0;
}

.zone {
  padding: 40px 20px;
}

.list-menu li {
  list-style-type: none;
  background: black;
  color: white;
}

.dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0px 40px 0;
}

.dl p {
  color: white;
  font-size: 1.5em;
  border: 1px solid white;
  width: 300px;
  text-align: center;
  padding-left: 10px;
}

.dl p a {
  text-decoration: none;
  border-left: 1px solid white;
  background: #fff;
  color: black;
  padding: 10px 40px 10px 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.dl p a:hover {
  background: #940b0b;
}

/*PhOtOs*/
.photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 20px 0;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
}

.pagination .page-link {
  background: #000;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.pagination .page-link:hover {
  background: #940b0b;
}

/* ConTacT*/
.logocontact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0px;
}

label {
  color: white;
}

.giffinal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0px;
}
/*# sourceMappingURL=Styles.css.map */