$colordarkred: rgb(148, 11, 11);
.row{
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Acme', sans-serif;
    padding-top:130px;
}

.navbar{
    background: black;
    height: 110px;
    display: flex;
    margin: auto;

    .navbar-toggler{
        position: absolute;
        right: 25px;
        top: 25px;
    }
    
    img{
        padding-left: 40px;
        position: relative;
    }
    .navbar-nav{
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        padding-left: 50px;
     
        background: black;
        z-index: 9999;
        position: relative;
       
        li{
            text-align: center;
            padding-top: 10px;
            list-style-type: none;
            position: relative;
            width: 220px;;
             
         a{
            border: none;
            transition: 0.4s;
            font-size: 1.3em;
            background: -webkit-linear-gradient(10deg, rgb(148, 11, 11), rgb(0, 0, 0));
            background: linear-gradient(10deg, rgb(148, 11, 11), rgb(0, 0, 0));

            border: 2px solid black;
            border-radius: 10px 10px;
            
            
            &:hover{
                background: $colordarkred;
            }
            }
        }    
    }       
}

header{
    background: black;
    padding: 20px 0px 40px 0px;  
    display: flex;
    justify-content: flex-end;
    margin: auto;
    
    .jumbotron{
        color:white;
        background: url("http://img.archiexpo.fr/images_ae/photo-g/49730-7667429.jpg");
        display:flex;
        flex-flow: column nowrap;
        align-items: center;
        margin:auto;
        padding: 0;
        width: 100%;
        padding: 30px 30px;

        p{
            text-align: center;
        }
        h1{
            padding-top: 30px;
            padding-bottom: 30px;
            text-shadow: 2px 5px 8px black;
        }
        .thumbnail{
            border: 1px solid white;
            color:white;
            margin:0;
            padding: 0;
        }   
    }   
}
.annonce{
    background: black;
    color: white;
    padding: 0;
    margin: 0 !important;
    overflow: hidden;
    position: relative;
    
    .thumbnail{
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0px 40px 2px;
        
    }
    .caption{
        margin: 0;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        padding: 30px 20px 30px 20px;
    }
}
.division{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0;

    .slider{
        margin: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        
   
    }
    .paragraphe{
        margin:auto;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right:50px;
        color: #fff;
    }
    
}
footer{
    background: black;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    margin: 0;
    width: 100%;
    ul{
        display: flex;
        flex-wrap: wrap;
        margin:0;
        padding:0;

        li{
            display: flex;
            list-style-type: none;
            padding-left: 65px;
            &:nth-last-child(1){
                padding-right: 95px;
            }
            a{
                color:white;
                font-size: 4em;
                transition: 0.3s;
            }
            a:hover{
                color: $colordarkred;
            }
        }
    }
    .mention{
        display: flex;
        justify-content: center;
        p{
            padding-left: 25px;
            color: white;
        }          
        a{
            text-decoration: none;
            color: white;
            transition: 0.3s;
            &:hover{
                color:$colordarkred;
            }
        }    
    }
}



/*resto*/

.resto{
    display: flex;
    flex-direction: row wrap;
    background: black;
    color: white;
    padding: 40px 20px;
    img{
        display:block;
        width: auto;
        height: auto;

    }
}
.text-resto{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding-top: 35px;
    line-height: 110%;
}
.icon{
    color:white;
    font-size: 1.2em;
}

/* MeNu*/

.card-global{
    display: flex;
    justify-content: space-around;
    background: black;
    padding: 40px 0px 40px 0px;
    position: relative;
    overflow: hidden;
    .global-img{
        position: relative;
        overflow: hidden;
    }
    .card-body{
        position: relative;
        transition: 0.3s;
        background: #fff;
        width:100%;
        margin: 0;
        padding: 0px;
        height: 75px;
        top:22px;
        z-index: 1;
        h5{
            padding-left: 10px;
            padding-top: 10px;
        }
        p{
            opacity: 0  ;
            background: #fff;
            padding: 0 10px;
            transition: 0.4s ;
        }
    }
}
.card-global:hover{
    .card-img-top{   
        filter: opacity(50%);  
    }
    .card-body{
        transform: translateY(-125px);  
        p{
            opacity: 1;
        }
    }   
} 
.btn-danger{
    overflow: hidden;
    position: relative;
    z-index: 999;
}

.menu{
    background: black;
    padding: 40px 20px;
    margin: 0;
}
.zone{
    padding: 40px 20px;
}
.list-menu li{
    list-style-type: none;
    background: black;
    color: white;
}
.dl{
    display: flex; 
    justify-content: center;
    
    padding: 40px 30px 40px 0;
    
    p{
        color:white;
        font-size: 1.5em;
        border: 1px solid white;
        width: 320px;
        text-align: center;
        padding-left: 10px;

        
    a{
        text-decoration: none;
        border-left: 1px solid white;
        background: #fff;
        color: black;
        width: 100%;
        padding: 10px 40px 10px 48px;
        transition: 0.3s;
        
        }
        a:hover{
            background: $colordarkred;
        }
    }
}

/*PhOtOs*/

.photos{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 20px 0px 20px 10px;;
}
.pagination{
    display: flex; 
    justify-content: center;
    padding: 20px 0;

    .page-link{
    
    background: #000;
    color:white;
    transition: 0.3s;
    &:hover{
        background: $colordarkred;
        }
    }   
}
/* ConTacT*/
 .logocontact{
     display: flex;
     justify-content: center;
     padding: 40px 0px;
 }
 label{
     color:white;
 }
.giffinal{
    display: flex;
    justify-content: center;
    padding: 40px 0px;
}

